In [2]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn import linear_model
from scipy.stats import *
from sklearn import preprocessing 
import matplotlib.pyplot as plt 
%matplotlib inline

In [3]:
df=pd.read_csv('regLin.csv')
df.head()

           X          y
0  35.657897  28.074403
1  48.685931  36.674434
2  95.861773  67.903577
3  25.997253  11.931727
4  49.964772  30.286144

In [151]:
X_train,X_test,y_train,y_test=train_test_split(df[['X']],df[['y']],test_size=.25) 
X_train=np.array(X_train)
y_train=np.array(y_train)
X_test=np.array(X_test)
y_test=np.array(y_test)

In [8]:
w=[1.,1.]
np.mean((w[0]+w[1]*X_train-np.array(y_train))**2)

X    479.152859
dtype: float64

In [10]:
np.sum(w[0]+w[1]*X_train-np.array(y_train))**2/len(y_train)

X    256829.637969
dtype: float64

In [11]:
def agregar_unos(m):
    unos = np.array([np.ones(m.shape[0])])
    return np.concatenate((unos.T,m),axis=1)

In [26]:
np.mean((np.array(y_train)[:,0] - np.dot(w,agregar_unos(X_train).T))**2)

479.15285882006975

In [23]:
w[0]+w[1]*X_train-np.array(y_train)

              X
476   14.032458
351   13.794205
552   20.651921
441   14.622026
105    0.040337
1016  30.408326
556   25.668807
590   11.316248
774   17.467545
280   28.292075
530    6.110218
477    1.898576
953    6.827766
981    3.158589
209   -0.466705
301   19.316740
256   17.262026
578   17.570515
176   32.252116
288    6.356993
550   36.543312
239   40.003859
755   12.796729
655   23.486806
112   17.352602
522   24.373360
568    7.379661
831   18.233770
946   25.448296
514   32.428461
...         ...
713   14.285661
757   18.792244
972   16.783376
413   27.413473
438   38.883038
434   16.598301
1009  27.691623
333   32.617024
673   14.924951
997   26.913050
147   18.385530
73     7.173252
823   22.005406
564   13.917378
19     5.167171
525   38.426226
900    5.064736
449   27.447100
750    3.665512
754    1.811967
447   16.569216
745   18.199596
909   18.702298
429   35.923939
428   20.064894
618    2.987995
987   13.064236
1023   3.501780
331    6.068295
502   11.310993

[771 rows x 1 columns]

In [152]:
 np.dot(w,agregar_unos(X_train).T)-np.array(y_train)[:,0]
np.ones(X_train.shape[1]+1)   
#agregar_unos(X_train)[:,0]
X_train2=X_train/np.max(y_train)
y_train2=y_train/np.max(X_train)

scaler = preprocessing.StandardScaler().fit(X_train)
X_train3=scaler.transform(X_train)
scaler2 = preprocessing.StandardScaler().fit(y_train)
y_train3=scaler2.transform(y_train)

In [174]:
def LMS(x,y,eta):
    w=np.ones(x.shape[1]+1) 
    while np.sum((y - np.dot(w,agregar_unos(x).T)))**2>=1.297016861219196e-07:
        res=y-np.dot(w,agregar_unos(x).T)
        w[0]=w[0]+eta*np.mean(res*agregar_unos(x)[:,0])
        w[1]=w[1]+eta*np.mean(res*agregar_unos(x)[:,1]) 
    print('el error es:',np.mean((y - np.dot(w,agregar_unos(x).T))**2))                          
    return w

In [175]:
LMS(X_train2,y_train2,0.05)

el error es: 0.00168032975743

array([ 0.0262898 ,  0.41591233])

In [164]:
y_train2=np.array(y_train/np.max(X_train))[:,0]
X_train2=np.array(X_train/np.max(y_train))
y_test2=np.array(y_test/np.max(X_test))[:,0]
X_test2=np.array(X_test/np.max(y_test))

In [171]:
def wreg(x,y,eta):
    w=np.ones(len(np.transpose(x))+1)

    while (np.sum((y - np.dot(w,agregar_unos(x).T))))**2 > 0.01:

        #print(w[0],w[1])
        res=y-np.dot(w,agregar_unos(x).T) 
        w[0]= w[0] + (eta * np.sum(res * agregar_unos(x)[:,0])/len(y))  
        w[1] = w[1] + (eta*np.sum((y - np.dot(w,agregar_unos(x).T)) * agregar_unos(x)[:,1])/len(y))
    return w

w=wreg(X_train2,y_train2,0.05)

In [172]:
w

array([ 0.02626942,  0.4159407 ])

In [173]:
print(w[0]*max(X_train),w[1]*max(X_train2))

[ 2.62587992] [ 0.60400086]

In [177]:
0.01**2

1.297016861219196e-07