In [2]:
import pandas as pd
import numpy as np
import csv
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
%matplotlib inline
import random as rnd

In [5]:
df=pd.read_csv('EjercicioROC.csv')
df.head()

   Calificacion  Categoria Real
0      0.003530               0
1      0.003501               0
2      0.047738               0
3      0.003874               0
4      0.004077               0

In [14]:
df.sort(['Calificacion'],ascending=False)

/home/abraham/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

      Calificacion  Categoria Real
4292      0.431818               0
39        0.431818               0
4787      0.431818               0
4539      0.431818               0
2638      0.426254               1
2238      0.426254               0
9398      0.426254               0
4908      0.426254               1
1232      0.426254               1
4897      0.426254               1
4390      0.426254               0
1897      0.426254               0
3161      0.426254               0
3115      0.426254               0
750       0.426254               0
2042      0.426254               0
4465      0.426254               1
2840      0.426254               0
1821      0.421905               1
2780      0.421905               1
6374      0.421905               1
3450      0.421905               0
7928      0.421905               1
56        0.421905               0
8694      0.421905               0
755       0.421905               0
9197      0.421905               0
8565      0.294871               0
1221      0.294871               1
1710      0.232207               0
...            ...             ...
8054      0.003475               0
9298      0.003475               0
9862      0.003475               0
6316      0.003475               0
5681      0.003475               0
1661      0.003475               0
830       0.003475               0
7616      0.003475               0
2400      0.003475               0
8112      0.003475               0
2769      0.003475               0
471       0.003475               0
851       0.003475               0
1715      0.003475               0
2233      0.003475               0
1275      0.003475               0
5652      0.003475               0
476       0.003475               0
3133      0.003475               0
7323      0.003475               0
9703      0.003475               0
839       0.003475               0
2248      0.003475               0
3782      0.003475               0
9708      0.003475               0
6758      0.003475               0
2773      0.003475               0
8751      0.003475               0
2771      0.003475               0
7573      0.003475               0

[10116 rows x 2 columns]